---
title: All blags
---
<!doctype html>
<html>
  <head>
    {% include html_head.html %}
  </head>
  <body>
    <div class="wrapper single-column">
      <header>
        <h1><a title="blagblogblag.com" href="/">blagblogblag.com</a></h1>
        <p>A small island in the vast internet ocean</p>
      </header>
      <a href="/">&laquo; Back to frontpage</a>
      <div class="content">
        <h3>All blag posts</h3>
        {% for post in site.posts %}
        <span class="blag-date">{{ post.date | date: "%Y-%m-%d" }}</span><a href="{{ post.url }}">{{ post.title }}</a><br>
        {% endfor %}
        <h3>Stuff</h3>
        <ul>
          <!--<li><a href="tools.html">Tools I use</a></li>-->
          {% for page in site.pages %}
          <li><a href="{{ page.url }}">{{ page.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <footer>
        <img class="me" src="https://www.gravatar.com/avatar/8de291e8f2ffc040736008eab50fe2e3.png" alt="Picture of me">
        <h3>Me</h3>
        <ul class="contact-list">
          <li class="github"><a href="https://github.com/malthejorgensen">GitHub<small>malthejorgensen</small></a></li>
          <li class="twitter"><a href="https://twitter.com/MaltheJorgensen">Twitter<small>MaltheJorgensen</small></a></li>
        </ul>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
        <p class="source-link"><small><a href="https://github.com/malthejorgensen/malthejorgensen.github.io">Source for this site</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>

    <!-- BEGIN Google Analytics -->
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40849495-1', 'blagblogblag.com');
  ga('send', 'pageview');

    </script>
    <!-- END Google Analytics -->
  </body>
</html>
