---
title: All blags
---
<!doctype html>
<html>
  <head>
    {% include html_head.html %}
  </head>
  <body class="index">
    <div class="wrapper single-column">
      <header>
        <h1><a class="blag-title" title="blagblogblag.com" href="/">blagblogblag.com</a></h1>
        <p class="blag-tagline">A small island in the vast internet ocean</p>
      </header>
      <div class="content">
        <h3>Blog posts</h3>
        {% for post in site.posts %}
        <div id="blag-list">
          <div class="blag-line">
            <span class="blag-date" title="{{ post.date | date_to_string: "ordinal", "US" }}">{{ post.date | date: "%Y-%m-%d" }}</span>
            <span><a href="{{ post.url }}" class="blag-title">{{ post.title }}</a><span>
          </div>
        </div>
        {% endfor %}
        <h3 style="margin-top: 20px;">Projects and things</h3>
        <ul>
          <!--<li><a href="tools.html">Tools I use</a></li>-->
          {% for page in site.pages %}
          {% if page.layout and page.name != 'rss.xml' %}
          <li><a href="{{ page.url }}">{{ page.title }}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      <footer>
        <!-- <img class="me" src="https://www.gravatar.com/avatar/8de291e8f2ffc040736008eab50fe2e3.png" alt="Picture of me"> -->
        <!-- <h3>Me</h3> -->
        <div class="contact-list">
          <div class="github"><a href="https://github.com/malthejorgensen">malthejorgensen</a></div>
          <div class="twitter"><a href="https://twitter.com/MaltheJorgensen">MaltheJorgensen</a></div>
        </div>
        <p style="text-align: center; padding-top: 40px; color: #AAA !important;"><small>Hosted on GitHub Pages (<a href="https://github.com/malthejorgensen/blagblogblag.com">source</a>) &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>

    <script>
    var MAX_DAYS = 30;
    function colorInterpolate(numDays) {
      // This controls the green channel of RGB to create a red-orange-yellow
      // gradient effect for new articles..
      //
      // Red is (of course): rgb(255, 0, 0)
      // Orange is around: rgb(255, 170, 0)
      // Yellow is: rgb(255, 255, 0)
      return (numDays / MAX_DAYS) * 230;
    }
    document.querySelectorAll('.blag-date').forEach(function(element) {
      var now = new Date();
      var blagDate = Date.parse(element.innerText);
      var daysAgo = (now - blagDate) / (24 * 60 * 60 * 1000);
      if (daysAgo < MAX_DAYS) {
        var newEl = document.createElement('span');
        newEl.innerText = ' (' + Math.round(daysAgo) + ' days ago)';
        newEl.className = 'new-blag';
        newEl.style.color = 'rgb(255, ' + colorInterpolate(daysAgo).toString() + ', 0)';
        element.nextElementSibling.appendChild(newEl);
      }
    });
    </script>

    <!-- BEGIN Google Analytics -->
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40849495-1', 'blagblogblag.com');
  ga('send', 'pageview');

    </script>
    <!-- END Google Analytics -->
  </body>
</html>
