/* Blog post titles */
h1 {
  margin-bottom: 0px;
}
h1 a {
  color:#222;
  line-height:1.1;
  font-size:28px;
}
small.date {
  margin-bottom: 20px;
  display: block;
}

/* Blog post list */
header h3 {
  margin-bottom: 5px;
}
/* li { */
/*   font-weight: normal; */
/* } */

/* Contact me list */
footer h3 {
  margin-bottom: 5px;
}

ul.contact-list li {
  list-style-type:none;
  background-position: 0px center; /* no-repeat; */
  background-size: 16px 16px; /* no-repeat; */
  background-repeat: no-repeat;
  margin-left:-30px;
  padding-left:25px;
}

ul.contact-list li.twitter {
  /* https://twitter.com/logo */
  /* list-style-image: url("https://twitter.com/images/resources/twitter-bird-16x16.png"); */

  /* The above is cleaner, but no resizing or positioning */
  background-image: url("//twitter.com/images/resources/twitter-bird-16x16.png");
}
ul.contact-list li.github {
  /* https://github.com/logos */
  /* list-style-image: url("../img/GitHub-Mark-32px.png"); */

  /* The above is cleaner, but no resizing or positioning */
  background-image: url("../img/GitHub-Mark-32px.png");
}
