<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="stylesheets/malthe.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>blagblogblag.com</h1>
        <p>A small island in the vast internet ocean</p>
        <h3>Blags</h3>
        <ul>
          {% for post in site.posts %}
          <li><a href="#{{ post.title }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </header>
      {{ content }}
      <footer>
        <img class="me" src="http://www.gravatar.com/avatar/8de291e8f2ffc040736008eab50fe2e3.png" alt="Picture of me">
        <h3>Me</h3>
        <ul class="contact-list">
          <li class="github"><a href="http://github.com/malthejorgensen">GitHub<small>malthejorgensen</small></a></li>
          <li class="twitter"><a href="http://twitter.com/MaltheJorgensen">Twitter<small>MaltheJorgensen</small></a></li>
        </ul>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
        <p class="source-link"><small><a href="http://github.com/malthejorgensen/malthejorgensen.github.io">Source for this site</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
  </body>
</html>
